.app {
  text-align: center;
  padding-top: 30px;
  position: relative;
}

.grid-wrapper {
   padding-top: 20px;
}

.grid-wrapper--disabled {
  composes: grid-wrapper;
  pointer-events: none;
  opacity: 0.2;
}

$grids: grid-wrapper, grid-wrapper--disabled;

@each $grid in $grids {
  &.#{$grid} > table > tbody {
    tr > {
      td:last-of-type {
        border-right: 0;
      }

      td:first-of-type {
        border-left: 0;
      }
    }
    tr:first-of-type {
      td {
        border-top: 0;
      }
    }
  }
}

.options-wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
}

.button-wrapper {
  display: inline-block;
}

.select {
  margin: 0 5px;
}

.game-over {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  font-size: 25px;
  animation: color_change 1s infinite alternate;
}

@keyframes color_change {
  0% { color: blue; }
  25% { color: orange; }
  50% { color: yellow; }
  75% { color: green; }
  100% { color: red; }
}
